/Practicas/P5/Códigos/Abstracta/nbproject/private/
/Practicas/P5/Códigos/Abstracta/build/
/Practicas/P7/Códigos/Herencia/nbproject/private/
/Practicas/P7/Códigos/Herencia/build/
/Practicas/P6/Códigos/Salon/tryCatch/nbproject/private/
/Practicas/P6/Códigos/Salon/tryCatch/build/
/Practicas/P8/incisoB/nbproject/private/
/Practicas/P8/incisoB/build/
/Tareas/Arreglos/Arreglos/nbproject/private/
/Tareas/Arreglos/Arreglos/build/
/Tareas/Investigacion/nbproject/private/
/Tareas/Investigacion/build/
